<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="1" parallel="tests" name="SalesforceSuite">
  <test thread-count="1" parallel="tests" name="TestSalesforce">
    <classes>
      <class name="adityaSalesforceProject.checkAccountCreation"/>
    </classes>
  </test> <!-- TestSalesforce -->
</suite> <!-- SalesforceSuite -->
